/*!*************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./src/css/style.css ***!
  \*************************************************************************************************/
:root {
  color-scheme: light only;
}

a {
    text-decoration: none;
    color: #f8f8ff
}

body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../assets/img/background.jpg);
    margin: 0;
    width: 90%;
    user-select: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
}
#content p {
    font-size: 20px;
    padding: 10px;
    background: linear-gradient(180deg, rgba(31, 165, 50, 1) 0, rgba(60, 197, 104, 1) 30%, rgba(120, 213, 148, 1) 50%, rgba(60, 197, 104, 1) 70%, rgba(31, 165, 50, 1) 100%);
    color: #fff;
}

#boxes,
#search,
#content p {
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
}

#boxes .box {
    float: left;
    width: fit-content;
    padding: 5px 20px;
    margin: 5px 5px;
    background: gray;
    border-radius: 10px;
}

#search {
    font-size: 16px;
    padding: 12px 20px 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.logo {
    width: 90%;
    max-width: 800px
}
/*!***************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./src/css/infobox.css ***!
  \***************************************************************************************************/
#infobox {
    font-family: calibri, "Trebuchet MS", sans-serif;
    text-align: center;
    background-color: darkgray;
    color: black;
    width: 300px;
    font-size: 20px;
}

#infobox p {
    margin: 0 0;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*!****************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./src/css/fontello.css ***!
  \****************************************************************************************************/
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.woff2?50155953') format('woff2'),
       url('../font/fontello.woff?50155953') format('woff'),
       url('../font/fontello.ttf?50155953') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?50155953#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-info-circled:before { content: '\e800'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */

