:root {
  color-scheme: light only;
}

a {
    text-decoration: none;
    color: #f8f8ff
}

body {
    font-size: 20px;
    background: url(../assets/img/background.jpg) #d3d3d3;
    /* background-position: center; */
    /* background-repeat: repeat-y; */
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0;
    /* height: 100vh; */
    width: 100%;
    user-select: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%
}
#content p {
    font-size: 20px;
    padding: 10px;
    background: linear-gradient(180deg, rgba(31, 165, 50, 1) 0, rgba(60, 197, 104, 1) 30%, rgba(120, 213, 148, 1) 50%, rgba(60, 197, 104, 1) 70%, rgba(31, 165, 50, 1) 100%);
    color: #fff;
}

#boxes,
#search,
#content p {
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
}

#boxes .box {
    float: left;
    width: fit-content;
    padding: 5px 20px;
    margin: 5px 5px;
    background: gray;
    border-radius: 10px;
}

#search {
    font-size: 16px;
    padding: 12px 20px 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.logo {
    width: 90%;
    max-width: 800px
}